@import "../variables";
.panel-base-info{
  padding-top: 50px;
  height: 400px;
}
.panel-portrait{
  text-align: center;
  .btn-default{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 84px;
    border-radius: 50px;
    border-color: $theme-color;
    color: $theme-color;
    font-size: 14px;
    background-color: #fff;
    &:hover{
      color: #fff;
      background-color: $theme-color;
    }
  }
  p{
    margin-bottom: 20px;
    font-size: 16px;
    color: $text-dark;
    &.time{
      color: $text;
    }
  }
}
.panel-info{
  padding-left: 30px;
  .form-group{
    margin-bottom: 33px;
  }
  label{
    text-align: right;
    color: $text-light;
  }
  label + div{
    color: $text-dark;
    > a{
      position: absolute;
      left: 120px;
      color: $theme-color;
    }
  }
}

.layer-portrait{
  //position: relative;
  //z-index: -1;
  display: none;
  .btn-top{
    position: absolute;
    left: 25px;
    top: 25px;
    .btn{
      margin-right: 25px;
      i{
        padding-right: 5px;
      }
    }
  }
  .btn-bottom{
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
  }
  .img-container{
    position: absolute;
    top: 110px;
    left: 150px;
    width: 320px;
    height: 320px;
    > img{
      max-width: 100%;
    }
  }
  .cropper-preview{
    position: absolute;
    right: 0;
    width: 300px;
    height: 165px;
    bottom: 200px;
    p{
      width: 134px;
      text-align: center;
      font-size: 15px;
      color: $text;
    }
  }
  .img-preview{
    float: left;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    border-radius: 8px;
    &.preview-lg{
      width: 134px;
      height: 134px;
    }
  }
}


.layer-name{
  display: none;
  width: 315px;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  padding-top: 35px;
  text-align: center;
  .col-xs-3{
    padding: 5px 0;
  }
  .pearls-xs .pearl-title{
    font-size:12px;
    color:#62a8ea;
    margin-bottom: 20px;
  }
  .pearls-xs  .pearl-number{
    width:10px;
    height:10px;
    line-height:6px;
    color:#62a8ea;
    background-color:#fff;
    -webkit-transform:scale(1.3);-ms-transform:scale(1.3);-o-transform:scale(1.3);transform:scale(1.3)
  }
  .pearl.done:before, .pearl.done:after {
    background-color:#62a8ea ;
  }
  .pearl.done .pearl-number{
    color: #fff;
    background-color:#ffffff ;
    border-color: #62a8ea;
  }
  .pearl.disabled .pearl-number{
    color:#fff;
    background-color:#ccd5db;
    border-color:#ccd5db;
  }
  .pearl.error .pearl-number{
    color:#f96868;
    background-color:#fff;
    border-color:#f96868;
  }
  .phone-number{
    display: block;
    color:#a3afb7;
    font-size: 8px;
    margin-bottom: 15px;
  }
  .input-group{
    border: 1px solid #e4eaec;
    border-radius: 3px;
    padding: 4px 12px;
    background-color: #ffffff;
    line-height: 1.6;
    margin-bottom: 5px;
  }
  .btn-get{
      position: relative;
      right: -152px;
      top: -34px;
      font-size: 8px;
      padding: 2px 7px;
  }
  .password{
    position: relative;
    right: -80px;
    font-size: 8px;
    cursor: pointer;
  }
}
 input::-webkit-input-placeholder{
  color:#a3afb7;
 }

.layer-sex{
  display: none;
 }

