@mixin no-data{
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 12px;
  color: $text-light;
}
@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}
@mixin min-width{
  min-width: $min-content-width;
  overflow-x: auto;
}
