@import "variables";
.multiselect{
  min-height: 32px;
  cursor: pointer;
}
.multiselect__tags{
  min-height: 32px;
  border-color: $border-color;
  padding: 4px 40px 4px 12px;
  display: flex;
  align-items: center;
 /* span.multiselect__single {
    min-width: 60px;
  }*/

}
.multiselect__input, .multiselect__single{
  margin-bottom: 0;
  padding-left: 0;
}
.multiselect, .multiselect__input, .multiselect__single{
  font-size: 14px;
}
.multiselect__select {
  height: 30px;
}
.member-linkage{
  .multiselect__select{
    width: 30px;
  }
  .multiselect__tags{
    padding-right: 30px;
    //margin-top: -30px;
  }
  .multiselect__single{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .multiselect__content-wrapper{
    width: 280px;
  }
  .multiselect:nth-child(2){
    .multiselect__content-wrapper{
      left: calc(((280px - 20px) / -3) - 10px);
    }

    }
  .multiselect:nth-child(3){
    .multiselect__content-wrapper{
      right: 0;
      //left: calc((-280px - 20px) / 3);
    }
  }
}
.multiselect--active, .multiselect__content-wrapper{
  z-index: 10;
}
.inbar-linkage {
  .multiselect__select{
    width: 20px;
  }
  .multiselect__tags{
    padding-right: 20px;
    padding-left: 5px;
    span.multiselect__single {
      width: 40px;
      font-size: 8px;
    //margin-top: -30px;
  }
  .multiselect__single{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .multiselect__content-wrapper{
    width: 280px;
  }
  .multiselect:nth-child(2){
    .multiselect__content-wrapper{
      left: calc(((280px - 20px) / -3) - 10px);
    }
  }
  .multiselect:nth-child(3){
    .multiselect__content-wrapper{
      right: 0;
      //left: calc((-280px - 20px) / 3);
    }
  }
}
.multiselect--active, .multiselect__content-wrapper{
  z-index: 10;
}

}
