//文字颜色
$text-dark:#333;
$text: #999999;
$text-light: #999;

//主题色
$theme-color: #0191fa;
$side-bgc: #263239;


$nav-height: 78px;
$tab-height: 44px;
$side-width: 220px;
$side-width-lg: 220px;
$footer-height: 40px;
