@import "variables";
.page-content{
  &:before, &:after{
    display: table;
    content: " ";
    clear: both;
  }
}
.page-content>div{
  float: none;}
.online-bottom-container{
  margin-top: 10px;
  height: 640px;
  padding: 20px;
  background-color: #ffffff;
}
.widget{
  height: 180px;
  padding: 45px 0;
  margin-bottom: 12px;
  text-align: center;
  .counter-number{
    font-size:30px ;
  }
}
.online-table-box{
  thead{
    background-color: #f0f2f9;
    th{
      text-align: center;
      font-weight: bold;
    }
  }
  tbody{
    td{
    font-size: 10px;
    border-bottom: 1px solid #e4eaec;
    }
  }
}
.form-top-box{
  .form-inline{
    width: 100%;
  }
  ul{
    display: flex;
  li.form-group{
    flex-grow: 1;
  }
  li.btn-phone-box{
    flex-grow: 6;
  }
  }
  select.type-select-box{
    padding-right: 150px;
  }
  }
.layer-phone{
  display: none;
  padding: 20px;
  text-align: center;
  .input-group{
    border: 1px solid #d6d6d6;
    border-radius: 3px;
  }
  .value{
    color: #f34646;
  }
  .btn-bottom{
    padding-top:60px;
  }
  .icon-tishi{
    color:#f7b42f;
  }

}

