@import "variables";
.page-content{
  &:before, &:after{
    display: table;
    content: " ";
    clear: both;
  }
}
.page-content>div{
  float: none;}
.online-bottom-container{
  margin-top: 10px;
  height: 640px;
  padding: 20px;
  background-color: #ffffff;
}
.widget{
  height: 180px;
  padding: 45px 0;
  margin-bottom: 12px;
  text-align: center;
  .counter-number{
    font-size:30px ;
  }
}
.form-top-box{
  padding:0 ;
  .col-xs-6,.col-lg-5,.col-xs-3,.col-xs-12,.col-xs-2{
    padding:0 ;
  }
  }
.layer-open{
  display: none;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  label{
    color: $text-dark;
    small{
      color: $text-light;
    }
  }
  .form-control{
    border-color: $border-color;
    &:focus{
      border-color: $theme-color;
    }
  }
  .value{
    color: #f34646;
  }

  .btn-bottom{
    padding-top:40px;
  }
  .icon-tishi{
    color:#f7b42f;
  }
  .error{
    text-align: left;
    color: #f00;
  }
}


