@import "variables";

.panel {
  width: 100%;
  height: 840px;
}
.panel-content{
  width: 500px;
  padding: 0 80px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  height: 100%;
  margin: 0 auto!important;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  -ms-flex-line-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-align-content: stretch;
  align-content: center;
  text-align: center;
}
.success{
  background-color: #ffffff;
  text-align: center;
}
p{
  color: #666666;
}
.icon-wancheng{
  font-size:80px;
  color:#53c41a;
}
