@import "variables";
.page-content{
  &:before, &:after{
    display: table;
    content: " ";
    clear: both;
  }
}
.bar-left-container1{
  width: 35%;
}
.bar-right-container1 {
  width: 63%;
  padding: 20px;
  height: 805px;
}
.inquiry-box
{
  margin-bottom: 15px;
  height:230px;
  .form-control{
    height: 32px;
    display: inline-block;
    width:60%;
  }
}

 .input-addon {
   padding: 7px 12px;
   font-size: 14px;
   font-weight: 400;
   line-height: 1;
   color: #76838f;
   text-align: center;
   background-color: #f3f7f9;
   border: 1px solid #e4eaec;
   white-space: nowrap;
   border-radius: 3px;
 }
  .input-addon:last-child {
    border-left: 0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }

  .btn-long{
    padding: 0 20px;
  }
.card-info-box{
  height: 560px;
}
p.me:first-letter{
  border-left: 5px solid #0191FA;
  padding-left: 10px;
}
p.me{padding-left: 47px;}
p.number{
  border-top: 1px solid #e4eaec;
  padding-left: 40px;
  padding-top:20px;
  margin-top: 20px;
  margin-bottom: 20px;
  //text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: $theme-color;
}
.detail {;
  line-height: 2.4;
  padding-left: 40px;
  li {
    float: left;
    width: 40%;
    font-size: 14px;
    color: $text-dark;
    //list-style: none;
    &:nth-child(even) {
      width: 60%;
    }
    span {
      color: $text-light;
    }
  }
}
.form-inline{
  p.me{
 padding-left: 15px;
  }
}


.recharge-table-box{
    display: flex;
    table-layout: fixed;
        th{
          text-align: center;
          white-space: nowrap;
        }
    tbody{
      min-height: 500px;
    }
}

.ul-control{
  li {
    float: left;
    width: 45%;
    font-size: 12px;
    color: $text-dark;
    padding-bottom: 15px;
    //list-style: none;
    &:nth-child(even) {
      width: 55%;
    }
    input{
      display: inline-block;
      width:70%;
      height:30px ;
      background-color:#f0f0f0 ;
      border:1px solid #d6d6d6;
    }
    label{
      text-align: right;
      width: 25%;
    }
}
}
.icon-tishi{
  color:#f7b42f;
}
