@import "variables";
.page-content{
  &:before, &:after{
    display: table;
    content: " ";
    clear: both;
  }
}

.panel{
  width: 100%;
  margin-bottom: 20px;
}
.title-bot{
  border-bottom: 1px solid #d6d6d6;
}
p.panel-title:first-letter{
  border-left: 5px solid #0191FA;
  padding-left: 10px;
}

.bar-bottom-container{
  height: 570px;
}

.nav-tabs-list{
  padding-left: 20px;

   .nav-tabs > li > a {
     background-color: #ebebeb;
    }
   .nav-tabs > li.active>a {
     background-color: #62a8ea;
    }
   .tab-content{
    padding-top: 20px;
     font-size: 12px;
    }
  .table-center{
    td{
      text-align: center;
    }
   th{
     background-color: #ebebeb ;
     text-align: center;
     font-weight: bold;
     font-size: 14px;
   }
  .value{
    color: #fd0326;
  }
  }
  .table-first{
    border: 1px solid #e4eaec;
    th{
      background-color: #ebebeb ;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
    }
    td {
      border-top: none;
      padding-left: 15px;
      padding-right: 15px;

    }
    .value{
      color: #fd0326;
      text-align: center;
      border-right: 1px solid #e4eaec;
    }
  }
}
