@import "variables";
@import "mixin";

.page-content{
  max-width: $max-content-width;
  height: 840px;
  max-height: $max-content-width;
  @include horizontal-center;
  &:before, &:after{
    display: table;
    content: " ";
    clear: both;
  }
}
.page-content>div{
  float: left;
}
$bar-row1-height: 645px;
$bar-row2-height: 135px;
.has-menubar{
  width: calc((100% - 730px)/2);
}
.bar-left-container{
  //margin-left: 6%;
  margin-right: 20px;
  width: calc((100% - 730px)/2);
  height: $bar-row1-height;
}
.bar-center-container{
  margin-right: 20px;
  width: 690px;
  height: $bar-row1-height;
}
.bar-right-container{
  width: calc((100% - 730px)/2);
  height: $bar-row1-height;
}
.bar-bottom-container{
  margin-top: 10px;
  width:100%;
  height:$bar-row2-height;
}
.panel-client-list.has-bottom{
  min-height: 365px;
}
.panel{
  //margin-bottom: 10px;
}
  .sale-type-box{
    height: 155px;
    padding: 20px 10px 10px 20px;
    li.Type-box{
      margin: 0 10px 10px 0;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      width: calc((100% - 60px)/6);
      height: 52px;
      border-radius: 4px;
      border: 1px solid #d6d6d6;
      float: left;
      text-align: center;
      align-items: center;
      justify-content: center;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      font-size: 16px;
      font-weight: normal;
      color: #61686d;
      background-color: #e6e6e6;
      cursor: pointer;
      transition: all .2s;
      &:nth-child(4n+1){
        margin-left: 0;
      }
      &:hover{
        box-shadow: 0 0 7px 3px #d6d6d6;
      }
      &.active{
        border-color: #e7a043;
        color: #fff;
        background-color: #e7a043;
      }
    }
  }

.sale-commodity-box{
  height: 395px;
  overflow: hidden;
  ul{
    padding: 20px;
    height: 395px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      //display:none
    }
  }
  li.commodity-box{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 15px ;
    margin-left: 15px ;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc((100% - 120px)/4);
    height: 95px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    float: left;
    font-size: 14px;
    color: #61686d;
    cursor: pointer;
    transition: all .2s;
    &:nth-child(4n+1){
      //margin-left: 0;
    }
    &:hover{
      box-shadow: 0 0 7px 3px #d6d6d6;
    }
    &.active{
      box-shadow: 0 0 7px #50b4f4;
      border-color: #50b4f4;
      background-color: #ffffff;
    }
    > p {
      width: 100%;
      margin-bottom: 0;
      >.value{
        color:#fd0326;
      }
    }
  }
}

.sale-state-box{
  width:690px;
  height:75px;
  display: flex;
  ul{
    margin-left: 100px;
    //margin-top:-40px;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    li.state-box{
      width:50px;
      height:30px;
      padding-top:5px;
      margin-right:20px;
      border-radius:4px;
      border: 1px solid #d6d6d6;
      float: left;
      text-align: center;
      align-items: center;
      justify-content: center;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      font-size: 12px;
      font-weight: normal;
      color: #61686d;
      background-color: #ffffff;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        border-color: #e7a043;
        background-color: #e7a043;
        color: #fff;
      }
    }
  }
  .no-data{
    width: 100%;
  }
  strong {
    padding-left: 20px;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
  }
  //p{  font-weight: bold;}
  span.sign{
    color: #df3b1f;
  }
}
.shopping-list{
  position: relative;
  height: 325px;
  ul{
    li{
      position: relative;
      padding-left: 20px;
      padding-right: 48px;
      display: flex;
      height: 48px;
      margin-bottom: 4px;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: $text;
      background-color: #f7f7f7;
      cursor: pointer;
      &:hover, &.active{
        background-color: #f7f0dc;
      }
      //>.list-shop{
      //  flex: 1;
      //}
      //.list-number{
      //
      //}
      //.list-value{
      //
      //}
      >div{
        flex: auto;
      }
      >.btn{
        position: absolute;
        right: 0;
        width: 48px;
        height: 48px;
        border-width: 0;
        border-radius: 0;
        color: #fff;
        background-color: #f77354;
      }
    }
    //
    //.list-shop{
    //  display: table-cell;
    //  width: 50%;
    //}
    //.list-number{
    //  overflow: visible;
    //  display: table-cell;
    //  width: 20%;
    //}
    //.list-value{
    //  overflow: visible;
    //  display: table-cell;
    //  width: 25%;
    //}
  p{  font-weight: bold;}
  span.sign{
    color: #df3b1f;
  }
}
  .paging-group{
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    width: 100%;
    .button-group{
      float: left;
      .btn-page{
        border-radius: 0;
        border-color: #b3b3b3;
        background-color: #fff;
      }
      >span{
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .operation{
      float:right;
      .btn-num{
        padding: 0;
        width: 32px;
        height: 32px;
        font-size: 20px;
        border-radius: 0;
        color: #b3b3b3;
        border-color: #b3b3b3;
        background-color: #fff;
      }
      >span{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
        color: $text-dark;
      }
    }

  }
}

.recharge-method-box{
  height:200px;
  padding: 1px 5px;
  ul{
    display: flex;
    //justify-content: center;
    flex-wrap: wrap;
    li{
      padding-top: 15px ;
      height:70px;
      width: 33%;
      text-align: center;
      cursor: pointer;
      .iconfont{
        display: inline-block;
        font-size: 30px;
        transition: all .4s;
        &.icon-xianjin{
          color: #e16f37;
        }
        &.icon-zhifubao{
          color: #0aaaf0;
        }
        &.icon-weixin{
          color: #0fcb10;
        }
        &.icon-shouyinji{
          color: #526684;
        }
        &.icon-weihujin{
          color: #efb05e;
        }
      }
      p{
        font-size: 13px;
        color: #666;
      }
      &:hover{
        .iconfont{
          transform: rotate(360deg);
        }
        p{
          font-weight: bold;
          color: $theme-color;
        }
      }
    }
  }
}
.accounts{
  padding: 20px;
  height: 100px;
  .info{
    padding-top: 10px;
    flex-wrap: wrap;
    font-size: 16px;
    color: $text-dark;
    strong{
      padding-right: 20px;
      font-size: 20px;
      color: #f00;
    }
  .btn-row{
    float: right;
    .btn {
      margin-left: 10px;
      padding: 4px 15px;
    }
    .btn-clear{
      color: #ffffff;
      background-color: #eb5e05;
      border-color: #eb5e05;
      &:hover &.active{
        background-color: #eb850d;
      }
    }
  }
  }
}

.bottom-package-box{
  height: 100%;
  .package{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d6d6d6;
    background-color: #df3b1f;
    width:$bar-row2-height;
    height:$bar-row2-height;
    border-radius:4px;
    position: absolute;
    font-size: 26px;
    letter-spacing: 10px;
    font-weight: 500;
    color:#fff;
    text-align: center;
  }
  .owl-carousel-box{
    width: calc(100% - 205px);
    height: 100%;
    float: right;
    margin-right: 35px;
    >.owl-carousel{
      width: 100%;
      .item{
        padding: 15px;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 105px;
        border-top: 5px solid;
        box-shadow: 0 0 7px rgba(178,178,178,.35);
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        &:hover{
          border: 2px solid #2697ff;
          border-top-width: 5px;
          box-shadow: 0 0 7px rgba(24,144,255,1);
        }

        .name{
          margin: 0;
          color: #282828;
        }
        .value{
          width: 100%;
          font-weight: 600;
          color: #fd1434;
        }
      }
    }
  }
  button.btn-left,button.btn-right{
    position: absolute;
    width:50px;
    height: 135px;
    color: #b6b6b6;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
  .iconfont{
    font-size:30px;
  }
  .btn-left{
    margin-left: 135px;
  }
  .btn-right{
    right: 0;
  }
}
.no-data{
  @include no-data;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

