// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-icon-chongzhi-name: 's-icon-chongzhi';
$s-icon-chongzhi-x: 0px;
$s-icon-chongzhi-y: 0px;
$s-icon-chongzhi-offset-x: 0px;
$s-icon-chongzhi-offset-y: 0px;
$s-icon-chongzhi-width: 24px;
$s-icon-chongzhi-height: 24px;
$s-icon-chongzhi-total-width: 24px;
$s-icon-chongzhi-total-height: 192px;
$s-icon-chongzhi-image: '../assets/img/sprite.png';
$s-icon-chongzhi: (0px, 0px, 0px, 0px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-chongzhi', );
$s-icon-dianchanggongju-name: 's-icon-dianchanggongju';
$s-icon-dianchanggongju-x: 0px;
$s-icon-dianchanggongju-y: 24px;
$s-icon-dianchanggongju-offset-x: 0px;
$s-icon-dianchanggongju-offset-y: -24px;
$s-icon-dianchanggongju-width: 24px;
$s-icon-dianchanggongju-height: 24px;
$s-icon-dianchanggongju-total-width: 24px;
$s-icon-dianchanggongju-total-height: 192px;
$s-icon-dianchanggongju-image: '../assets/img/sprite.png';
$s-icon-dianchanggongju: (0px, 24px, 0px, -24px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-dianchanggongju', );
$s-icon-huiyuanguanli1-name: 's-icon-huiyuanguanli1';
$s-icon-huiyuanguanli1-x: 0px;
$s-icon-huiyuanguanli1-y: 48px;
$s-icon-huiyuanguanli1-offset-x: 0px;
$s-icon-huiyuanguanli1-offset-y: -48px;
$s-icon-huiyuanguanli1-width: 24px;
$s-icon-huiyuanguanli1-height: 24px;
$s-icon-huiyuanguanli1-total-width: 24px;
$s-icon-huiyuanguanli1-total-height: 192px;
$s-icon-huiyuanguanli1-image: '../assets/img/sprite.png';
$s-icon-huiyuanguanli1: (0px, 48px, 0px, -48px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-huiyuanguanli1', );
$s-icon-jfclcx-name: 's-icon-jfclcx';
$s-icon-jfclcx-x: 0px;
$s-icon-jfclcx-y: 72px;
$s-icon-jfclcx-offset-x: 0px;
$s-icon-jfclcx-offset-y: -72px;
$s-icon-jfclcx-width: 24px;
$s-icon-jfclcx-height: 24px;
$s-icon-jfclcx-total-width: 24px;
$s-icon-jfclcx-total-height: 192px;
$s-icon-jfclcx-image: '../assets/img/sprite.png';
$s-icon-jfclcx: (0px, 72px, 0px, -72px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-jfclcx', );
$s-icon-jiaobanguanli1-name: 's-icon-jiaobanguanli1';
$s-icon-jiaobanguanli1-x: 0px;
$s-icon-jiaobanguanli1-y: 96px;
$s-icon-jiaobanguanli1-offset-x: 0px;
$s-icon-jiaobanguanli1-offset-y: -96px;
$s-icon-jiaobanguanli1-width: 24px;
$s-icon-jiaobanguanli1-height: 24px;
$s-icon-jiaobanguanli1-total-width: 24px;
$s-icon-jiaobanguanli1-total-height: 192px;
$s-icon-jiaobanguanli1-image: '../assets/img/sprite.png';
$s-icon-jiaobanguanli1: (0px, 96px, 0px, -96px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-jiaobanguanli1', );
$s-icon-shangpinxiaoshou-name: 's-icon-shangpinxiaoshou';
$s-icon-shangpinxiaoshou-x: 0px;
$s-icon-shangpinxiaoshou-y: 120px;
$s-icon-shangpinxiaoshou-offset-x: 0px;
$s-icon-shangpinxiaoshou-offset-y: -120px;
$s-icon-shangpinxiaoshou-width: 24px;
$s-icon-shangpinxiaoshou-height: 24px;
$s-icon-shangpinxiaoshou-total-width: 24px;
$s-icon-shangpinxiaoshou-total-height: 192px;
$s-icon-shangpinxiaoshou-image: '../assets/img/sprite.png';
$s-icon-shangpinxiaoshou: (0px, 120px, 0px, -120px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-shangpinxiaoshou', );
$s-icon-shujuchaxun-name: 's-icon-shujuchaxun';
$s-icon-shujuchaxun-x: 0px;
$s-icon-shujuchaxun-y: 144px;
$s-icon-shujuchaxun-offset-x: 0px;
$s-icon-shujuchaxun-offset-y: -144px;
$s-icon-shujuchaxun-width: 24px;
$s-icon-shujuchaxun-height: 24px;
$s-icon-shujuchaxun-total-width: 24px;
$s-icon-shujuchaxun-total-height: 192px;
$s-icon-shujuchaxun-image: '../assets/img/sprite.png';
$s-icon-shujuchaxun: (0px, 144px, 0px, -144px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-shujuchaxun', );
$s-icon-yuyin-name: 's-icon-yuyin';
$s-icon-yuyin-x: 0px;
$s-icon-yuyin-y: 168px;
$s-icon-yuyin-offset-x: 0px;
$s-icon-yuyin-offset-y: -168px;
$s-icon-yuyin-width: 24px;
$s-icon-yuyin-height: 24px;
$s-icon-yuyin-total-width: 24px;
$s-icon-yuyin-total-height: 192px;
$s-icon-yuyin-image: '../assets/img/sprite.png';
$s-icon-yuyin: (0px, 168px, 0px, -168px, 24px, 24px, 24px, 192px, '../assets/img/sprite.png', 's-icon-yuyin', );
$spritesheet-width: 24px;
$spritesheet-height: 192px;
$spritesheet-image: '../assets/img/sprite.png';
$spritesheet-sprites: ($s-icon-chongzhi, $s-icon-dianchanggongju, $s-icon-huiyuanguanli1, $s-icon-jfclcx, $s-icon-jiaobanguanli1, $s-icon-shangpinxiaoshou, $s-icon-shujuchaxun, $s-icon-yuyin, );
$spritesheet: (24px, 192px, '../assets/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
